*{
    background-color: rgb(65, 65, 65);
    outline: 1px solid rgb(145, 145, 145);
    outline-offset: -1px;
    color: white;
}
#teamArticle{
    display: flex;
}
input{
    background-color: rgb(34, 34, 34);
    width: 88px;
}